
body {font-family:Verdana, Geneva, Tahoma, sans-serif;
margin:0;}
h1{font-size:50px;}
h3,h2 {text-align: center;}
.half-width {
    width:40%;
    margin:3px;
float:left;
padding:4px 2px;
margin:0px;}
.half-width img {width:100%;}
section {height:500px;}

.top-banner {
    padding-left:70px;
    background-image:url("images/top-banner.png");
    background-repeat:no-repeat;
    
}
.link-button {text-decoration:none;
                   background-image:linear-gradient(45deg, yellow, orange);
                padding:10Px 15px;
            border-radius:8px;
        color:black;}
a:hover {color:whitesmoke;
    background-image:linear-gradient(45deg,red, green);
      text-decoration: none;}

      
    .half-width img {width:80%;
    }

    section {height:500px;
        padding-bottom:30px;
    margin:0px;}

      .dream-bg {background-image:url("images/dream-bg.png");
             background-repeat:no-repeat;
             background-position: right;
            padding-right: 80px;}

            .new-width {
                width:28%;
                margin:3px;
            float:left;
            padding:4px 10px;
            padding-left: 35px;
            margin:2px;
            text-align: center;
        box-shadow: 10px 10px 40px grey;
           
        border-radius: 5px;}

            .new-width img {width:80%; height:70%;
                text-align: center;
            }

            .b-g {background-color:gainsboro;
                height:400px;
            margin:25px;
        border-radius: 15px;}

        .other-width {width:50%; 
            height: 90px;
            text-align: center;
        background-image:linear-gradient(45deg,yellow,blue) ;
           margin-left: 280px;
        
    padding-bottom: 20px;}

    footer{padding:140px;
       text-align: center;}