
body {font-family:Verdana, Geneva, Tahoma, sans-serif;
margin:0;
background-color: greenyellow;}
h1{font-size:50px;
  text-align: center;}
h3,h2 {text-align: center;}
.half-width { 
    text-align:center;
    text-align:justify;
    width:40%;
    margin:3px;
float:left;
padding:4px 6px;
margin:0px;}
.half-width img {width:100%;}
section {height:500px;}

.top-banner {background-color:greenyellow;
    padding-left:70px;
    background-image:url("images/top-banner.png");
    
    background-repeat:no-repeat;
    
}
.link-button {text-decoration:none;
                   background-image:linear-gradient(45deg, yellow, orange);
                padding:10Px 15px;
            border-radius:8px;
        color:black;}
a:hover {color:whitesmoke;
    background-image:linear-gradient(45deg,red, green);
      text-decoration: none;}

      

    section {height:500px;
        padding-bottom:30px;
    margin:0px;}

      .dream-bg {background-image:url("images/dream-bg.png");
             background-repeat:no-repeat;
             background-position: right;
            padding-right: 80px;}

            .new-width {
                width:26%;
            float:left;
            padding:4px 19px;
            height: 70%;
            margin:15px;
            text-align: center;
        box-shadow: 10px 10px 40px greenyellow;
           border-radius: 5px;}

            .new-width img {width:80%; height:35%;
                text-align: center;
            }

            .b-g {background-color:gainsboro;
                height:450px;
            margin:25px;
        border-radius: 15px;
        padding-left: 20px;}

        .other-width {width:50%; 
            height: 90px;
            text-align: center;
        background-image:linear-gradient(45deg,yellow,blue) ;
           margin-left: 280px;
        border-radius: 150px;
    padding-bottom: 20px;}

    footer{ background-color: black;
        color:white;
        padding:40px;
       text-align: center;}